/* line 12, ../sass/partials/_variables.scss */
body main, body main nav div, body main #topSection {
  display: flex;
  align-items: center;
}

/* line 16, ../sass/partials/_variables.scss */
body main nav div h1, body main #startPage, body main #topSection form input, body main #topSection form #listNames .autocompleteElement {
  text-align: center;
}

/* line 19, ../sass/partials/_variables.scss */
body main #startPage h2, body main #startPage button, body main #topSection form, body main #topSection form #listNames .autocompleteElement, body main #downSection .closeFilmDetail {
  margin: 10px;
}

/* line 1, ../sass/partials/_nav.scss */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: #00a1ab;
  list-style: none;
}

/* line 9, ../sass/partials/_nav.scss */
::-webkit-scrollbar {
  width: auto;
}

/* line 13, ../sass/partials/_nav.scss */
::-webkit-scrollbar-track {
  background: auto;
  box-shadow: inset 0 0 15px #eefeff;
}

/* Handle */
/* line 19, ../sass/partials/_nav.scss */
::-webkit-scrollbar-thumb {
  background: #142524;
  border-radius: 2px;
  max-height: 1px;
}

/* Handle on hover */
/* line 26, ../sass/partials/_nav.scss */
::-webkit-scrollbar-thumb:hover {
  background: #00a1ab;
  transition: all .5s;
}

/* line 31, ../sass/partials/_nav.scss */
body {
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
}
/* line 36, ../sass/partials/_nav.scss */
body main {
  flex-direction: column;
  background-color: #001211;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100vw;
}
/* line 43, ../sass/partials/_nav.scss */
body main nav {
  background-color: #142524;
  box-shadow: 0px 0px 20px 0px #00a1ab;
  width: 100%;
  min-height: 10vh;
  position: relative;
  z-index: 101;
}
/* line 50, ../sass/partials/_nav.scss */
body main nav div {
  flex-direction: row;
  justify-content: center;
  flex: 90%;
  cursor: pointer;
}
/* line 57, ../sass/partials/_nav.scss */
body main nav div:last-child {
  flex: 10%;
  padding: 10px;
}
/* line 61, ../sass/partials/_nav.scss */
body main nav div h1 {
  color: #00a1ab;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 36, ../sass/partials/_nav.scss */
  body main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 76, ../sass/partials/_nav.scss */
  body main nav {
    flex: 100vw;
    margin-bottom: 10px;
  }
}

/* line 1, ../sass/partials/_startpage.scss */
body {
  height: 100vh;
  overflow: hidden;
}
/* line 4, ../sass/partials/_startpage.scss */
body img {
  border-radius: 10px;
}
/* line 8, ../sass/partials/_startpage.scss */
body main #startPage {
  max-width: 100%;
  background: #eefeff;
  padding: 25px;
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  transition: all .8s;
  opacity: 1;
  overflow: hidden;
  z-index: 100;
  position: absolute;
}
/* line 21, ../sass/partials/_startpage.scss */
body main #startPage h2 {
  color: #001211;
  font-size: .9rem;
  font-weight: 400;
  margin-top: 20vh;
}
/* line 27, ../sass/partials/_startpage.scss */
body main #startPage h2 span {
  text-transform: uppercase;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
}
/* line 34, ../sass/partials/_startpage.scss */
body main #startPage button {
  border-radius: 0.37rem;
  border: solid 0px black;
  padding: 10px;
  font-weight: bold;
  background-color: #00a1ab;
  color: #eefeff;
  cursor: pointer;
  transition: background .5s;
}
/* line 44, ../sass/partials/_startpage.scss */
body main #startPage button:hover {
  background-color: #142524;
  color: #00a1ab;
}
@media screen and (min-width: 768px) {
  /* line 52, ../sass/partials/_startpage.scss */
  body main #startPage h2 {
    font-size: 1.2rem;
  }
  /* line 55, ../sass/partials/_startpage.scss */
  body main #startPage button {
    padding: 12px;
  }
}

/* line 3, ../sass/partials/_topsection.scss */
body main #topSection {
  margin-top: 8vh;
  flex-direction: column;
  justify-content: start;
  background-color: #eefeff;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 2px #142524;
  opacity: 0;
  transition: width 1s;
  max-height: 20vh;
  z-index: 99;
}
/* line 15, ../sass/partials/_topsection.scss */
body main #topSection div {
  margin-top: 3rem;
  width: 70%;
  opacity: 1;
  transition: .2s;
}
/* line 20, ../sass/partials/_topsection.scss */
body main #topSection div h3 {
  text-align: center;
  color: #00a1ab;
}
/* line 25, ../sass/partials/_topsection.scss */
body main #topSection form {
  padding: 10px;
  width: 70%;
}
/* line 29, ../sass/partials/_topsection.scss */
body main #topSection form input {
  padding: .5rem;
  border: solid 1px #001211;
  border-radius: 5px;
  font-size: 1.4rem;
  margin: 0 auto;
  width: 100%;
  color: #142524;
}
/* line 39, ../sass/partials/_topsection.scss */
body main #topSection form #listNames {
  min-height: 0px;
  max-height: 50vh;
  overflow: auto;
  transition: max-height 1st;
  background-color: #eefeff;
  border-radius: 5px;
}
/* line 46, ../sass/partials/_topsection.scss */
body main #topSection form #listNames .autocompleteElement {
  padding-top: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
}
/* line 53, ../sass/partials/_topsection.scss */
body main #topSection form #listNames .autocompleteElement:hover {
  background-color: #142524;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  /* line 3, ../sass/partials/_topsection.scss */
  body main #topSection {
    flex: 50%;
    left: 25%;
    margin-top: 10vh;
    min-height: 90vh;
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px #142524;
    border-radius: 0px;
    position: relative;
    transition: left .8s;
  }
  /* line 70, ../sass/partials/_topsection.scss */
  body main #topSection div {
    margin-top: 0rem;
  }
  /* line 73, ../sass/partials/_topsection.scss */
  body main #topSection #insertFilmText {
    width: 100%;
  }
  /* line 76, ../sass/partials/_topsection.scss */
  body main #topSection form {
    width: 100%;
    text-align: center;
  }
  /* line 79, ../sass/partials/_topsection.scss */
  body main #topSection form input {
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    padding: .2rem;
    outline: green;
    border: none;
  }
  /* line 86, ../sass/partials/_topsection.scss */
  body main #topSection form input:focus {
    box-shadow: inset 0 0 4px 1px #00a1ab;
  }
  /* line 90, ../sass/partials/_topsection.scss */
  body main #topSection form #listNames {
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
    max-height: 55vh;
  }
  /* line 95, ../sass/partials/_topsection.scss */
  body main #topSection form #listNames:hover {
    box-shadow: inset 0px 0px 4px 0px #00a1ab;
  }
  /* line 96, ../sass/partials/_topsection.scss */
  body main #topSection form #listNames .autocompleteElement {
    padding: 5px;
    font-size: 1rem;
  }
}

/* line 3, ../sass/partials/_downsection.scss */
body main #downSection {
  width: 100vw;
  background: #001211;
  opacity: 0;
  transition: opacity 1s;
  text-align: center;
  z-index: 100;
}
/* line 10, ../sass/partials/_downsection.scss */
body main #downSection .closeFilmDetail {
  font-size: 1rem;
  color: #eefeff;
  background: #00a1ab;
  border: solid 0px black;
  padding: 10px;
  border-radius: 5px;
  transition: background .5s;
  cursor: pointer;
}
/* line 20, ../sass/partials/_downsection.scss */
body main #downSection .closeFilmDetail:hover {
  background-color: #eefeff;
  color: #00a1ab;
}
/* line 25, ../sass/partials/_downsection.scss */
body main #downSection #filmSelectedWrapper {
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  /* line 3, ../sass/partials/_downsection.scss */
  body main #downSection {
    flex: 50%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    padding-top: 1vh;
    max-height: 68vh;
  }
  /* line 37, ../sass/partials/_downsection.scss */
  body main #downSection .closeFilmDetail {
    padding: 5px;
    font-size: .8rem;
  }
  /* line 41, ../sass/partials/_downsection.scss */
  body main #downSection #filmSelectedWrapper {
    cursor: pointer;
  }
  /* line 43, ../sass/partials/_downsection.scss */
  body main #downSection #filmSelectedWrapper img {
    max-width: 80%;
    transition: max-width .5s;
  }
  /* line 48, ../sass/partials/_downsection.scss */
  body main #downSection #filmSelectedWrapper:hover img {
    max-width: 82%;
  }
}

/* line 1, ../sass/partials/_slideshow.scss */
.slideshow {
  list-style-type: none;
  position: relative;
  z-index: 0;
  opacity: .5;
}

/** SLIDESHOW **/
/* line 9, ../sass/partials/_slideshow.scss */
.slideshow,
.slideshow:after {
  top: -16px;
  /*Not sure why I needed this fix*/
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 0;
}

/* line 19, ../sass/partials/_slideshow.scss */
.slideshow li span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite 0s;
}

/* line 36, ../sass/partials/_slideshow.scss */
.slideshow li:nth-child(1) span {
  background-image: url("https://cinemaserietv.it/wp-content/uploads/2023/02/titanic-1-1536x960.jpg");
}

/* line 39, ../sass/partials/_slideshow.scss */
.slideshow li:nth-child(2) span {
  background-image: url("../../image/car.jpg");
  animation-delay: 6s;
}

/* line 43, ../sass/partials/_slideshow.scss */
.slideshow li:nth-child(3) span {
  background-image: url("https://media.gqitalia.it/photos/5e7b6a2fbad9390008002f83/16:9/w_2560%2Cc_limit/LCDP_S4_VERT_MAIN_RGB_ES%2520(1).jpg");
  animation-delay: 12s;
}

/* line 47, ../sass/partials/_slideshow.scss */
.slideshow li:nth-child(4) span {
  background-image: url("https://www.pingusenglish.it/blog/wp-content/uploads/2020/02/saga-harry-potter-e1581678749104.jpg");
  animation-delay: 18s;
}

/* line 51, ../sass/partials/_slideshow.scss */
.slideshow li:nth-child(5) span {
  background-image: url("https://upload.wikimedia.org/wikipedia/it/3/30/Narcos.png");
  animation-delay: 24s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* line 76, ../sass/partials/_slideshow.scss */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}
